// index.scss

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@600&family=Lato:wght@700&family=Merriweather:ital@1&family=Montserrat:wght@700&family=Poppins:wght@200;400;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');

* {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.zeroSpacing {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0.6rem;
  margin: 0 1rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    a {
      color: #000;
    }
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 900;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  color: #222;
  margin: 0;
}

h2 {
  font-size: 1rem;
  text-align: center;
  color: #222;
  margin: 0;
}

.card-grid,
.dynamic-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 11%;
  padding: 0.5rem;
  gap: 1.4rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: flex-start;
  padding: 0.6rem;
}

.dynamic-grid-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  gap: 1rem;
}

.card-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 85%;
  max-width: 100vh;
  background-color: #ddd;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.card-pic {
  display: flex;
  flex-grow: initial;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 25vh;

  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 0.1rem;
    border-radius: 0.5rem;
  }
}

.empty {
  padding: 0.5rem;
  margin: 0.5rem;
}

.popup-x {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  margin-right: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
}

.popup-info {
  width: 100%;
}

.popup-header {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  gap: 1rem;
}

.popup-card-pic {
  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
    padding: 0.1rem;
    border-radius: 0.5rem;
  }
}

.card-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem;
  width: 97%;

  p {
    padding: 0.4rem;
    text-align: end;
  }
}

.card-info {
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 0.3rem;

  .card-title {
    font-style: italic;
  }

  .like-btn {
    text-align: right;
    padding: 0;
    height: 1.3rem;
    cursor: pointer;
  }
}

.like-counter {
  margin-top: 0.3rem;
  text-align: end;
}

.comment-list {
  background-color: #bbb;
  margin: 0.4rem 1rem;
  flex-grow: 2;
  width: 60vw;
  max-width: 80vh;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  max-width: 90vh;
}

input,
textarea {
  font-size: 0.8rem;
  border: solid 2px black;
  font-weight: bold;
  background-color: #fff;
  margin: 0.2rem 1.6rem;
  padding: 0.3rem;
}

input {
  width: 55%;
}

textarea {
  height: 2rem;
}

.btn,
.comment-btn,
.reserve-btn {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: fit-content;
  border: solid 0.2rem black;
  background-color: #fff;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.9);
  margin: 0.3rem;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.btn:hover,
.comment-btn:hover,
.reserve-btn:hover {
  color: #fff;
  background-color: #000;
}

footer {
  margin-bottom: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding: 0;

  .copyrights {
    padding: 0.4rem;
    margin: 0 1rem;
    text-align: left;
  }

  hr {
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: solid 1px #000;
  }
}

/* #### MEDIUM PHONE DESIGN #### */
@media screen and (min-width: 390px) {
  .card-grid,
  .dynamic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1.2rem;
    padding: 0.5rem;
    gap: 1rem;
  }
}

/* #### TABLET DESIGN #### */

@media screen and (min-width: 590px) {
  .header {
    margin: 0 1.7rem;
  }

  .card-grid,
  .dynamic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 1.7rem;
    padding: 0.5rem;
    gap: 1.6rem;
  }

  .card-container {
    background-color: #ccc;
  }
}

/* #### DESKTOP DESIGN #### */

@media screen and (min-width: 768px) {
  .header {
    margin: 0 2.2rem;
  }

  .card-grid,
  .dynamic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 2.2rem;
    padding: 0.5rem;
    gap: 1rem;
  }

  .card-container {
    background-color: #888;
  }
}
