// index.scss

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@600&family=Lato:wght@700&family=Merriweather:ital@1&family=Montserrat:wght@700&family=Poppins:wght@200;400;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');

* {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0.1rem;
}

ul {
  
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

header {
  padding: 0.8rem;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    a {
      color: #000;
    }
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 900;
}

h1 {
  color: #f44
}

.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.4rem;
}

.card-container {
  display: flex;
  margin-bottom: 1.4rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-pic {
  img {
    width: 10%;
    border-radius: 5px;
  }
}

.card-meta p {
  text-align: end;
}

#grid {
  .gridPoint {
    display: flex;
    flex-direction: column;
    // grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 1rem;
    // margin-left: 4rem;
  }

  .imgClass {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
  }
}

// .card-info {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   .card-title {
//     width: 80%;
//     font-style: italic;
//   }
//   .like-btn {
//       padding: 0;
//       height: 1.3rem;
//   }
// }

.commentsBtn,
.reserveBtn {
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  border: solid 0.2rem black;
  width: auto;
  background-color: #fff;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0.2rem 0;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.commentsBtn:hover,
.reserveBtn:hover {
  color: #fff;
  background-color: #000;
}

hr {
  box-shadow: #000;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: left;
}