// index.scss

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@600&family=Lato:wght@700&family=Merriweather:ital@1&family=Montserrat:wght@700&family=Poppins:wght@200;400;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');

* {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.zeroSpacing {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0.6rem;
  margin: 0 1rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    a {
      color: #000;
    }
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 900;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  color: #222;
  margin: 0;
}

h2 {
  font-size: 0.9rem;
  text-align: center;
  color: #222;
  margin: 0;
}

.dynamic-grid,
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 11%;
  padding: 0.5rem;
  gap: 1.4rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: flex-start;
  padding: 0.6rem;
}

.dynamic-grid-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  gap: 1rem;
}

.card-pic {
  display: flex;
  flex-grow: initial;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 25vh;

  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 0.1rem;
    border-radius: 0.5rem;
    border-radius: 5px;
  }
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 100vh;
  background-color: #eee;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.empty {
  padding: 0.5rem;
  margin: 0.5rem;
}

.popup-x {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-right: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
}

.card-meta {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.8rem;

  p {
    padding-top: 0;
    margin-top: 0;
    text-align: end;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;

  .card-title {
    min-height: 3.8rem;
  }

  .card-socials {
    text-align: right;
    min-width: 2.8rem;
    padding: 0;
    gap: 0;

    .like-btn {
      height: 1.6rem;
      cursor: pointer;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .like-counter {
      font-size: 0.8rem;
      text-align: right;
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.meal-info {
  width: 100%;
}

.popup-header {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  gap: 1rem;
}

.popup-card-pic {
  width: 60vw;
  max-width: 80vh;
  justify-self: center;
  margin-bottom: 0;

  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
    border-radius: 0.5rem;
  }
}

.popup-meta {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin-bottom: 0.8rem;
  justify-content: center;

  .popup-info {
    display: flex;
    justify-content: center;
    width: 60vw;
    max-width: 80vh;
    align-self: center;
    justify-self: center;
    gap: 0.3rem;

    .popup-title {
      font-style: normal;
    }
  }
}

.comment-board {
  background-color: #e2e2e2;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  flex-grow: 2;
  width: 60vw;
  max-width: 80vh;

  span {
    font-size: 0.7rem;
  }

  ul {
    li {
      font-size: 0.7rem;

      .commentator {
        font-weight: bolder;
      }
    }
  }
}

#grid {
  .gridPoint {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem;
  }

  .imgClass {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
  }

  .count {
    display: flex;
    flex-direction: column;
    text-align: end;
  }

  .like {
    width: 6%;
    height: 1.5rem;
    margin-top: -4rem;
    margin-left: 23rem;
    background: rgb(124, 120, 120);
  }
}

.comment-counter {
  padding: 0.2rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  border-radius: 5px;
  padding: 0.5rem;
  width: 60vw;
  max-width: 80vh;
  margin-bottom: 0.8rem;
}

input,
textarea {
  font-size: 0.8rem;
  border: solid 2px black;
  background-color: #fff;
  margin: 0.2rem 0;
}

.new-name {
  width: 50%;
}

.new-comment {
  height: 2rem;
  resize: none;
}

.btn,
.comment-btn,
.commentsBtn,
.reserve-btn {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: fit-content;
  border: solid 0.2rem black;
  background-color: #fff;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.9);
  margin: 0.3rem;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.btn:hover,
.comment-btn:hover,
.reserve-btn:hover,
.commentsBtn:hover {
  color: #fff;
  background-color: #000;
}

footer {
  margin-bottom: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding: 0;

  .copyrights {
    padding: 0.4rem;
    margin: 0 1rem;
    text-align: left;
  }

  hr {
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: solid 1px #000;
  }
}

/* #### MEDIUM PHONE DESIGN #### */
@media screen and (min-width: 390px) {
  .card-grid,
  .dynamic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1.2rem;
    padding: 0.5rem;
    gap: 1rem;
  }
}

/* #### TABLET DESIGN #### */

@media screen and (min-width: 590px) {
  .header {
    margin: 0 1.7rem;
  }

  .card-grid,
  .dynamic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 1.7rem;
    padding: 0.5rem;
    gap: 1.6rem;
  }
}

/* #### DESKTOP DESIGN #### */

@media screen and (min-width: 768px) {
  .header {
    margin: 0 2.2rem;
  }

  .card-grid,
  .dynamic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 2.2rem;
    padding: 0.5rem;
    gap: 1rem;
  }
}
